.container {
  background-color: #6f5164;
  height: 100%;
}

/* <<<<<<< HEAD */
.pItem {
  border: 1px solid #6f5164;
  background-color: #faf6f9;
}

.bg-like {
  padding: 5px;
  border-radius: 10%;
  border: 1px solid #6f5164;
  background-color: #e9c6dd;
}
/* =======
.pItem{
  border: 1px solid #6F5164;
  background-color: #e9c6dd;
>>>>>>> modifOnFront */

.bg-report {
  padding: 5px;
  border-radius: 10%;
  border: 1px solid #6f5164;
  background-color: rgb(244, 88, 88);
}

.profile img {
  border: 1px solid #6f5164;
}

.deleteUpdateButtonFormat {
  margin: 3px;
  width: 100px;
  border: 1px solid #6f5164;
  background-color: rgb(240, 229, 229);
}

.shadw {
  /* border: solid 2px #6F5164;*/
  box-shadow: 4px 4px 2px #b5adb2;
  border-radius: 20px;

}

.text-muted {
    font-size: medium;
    font-weight: 400;
    font: 1em sans-serif;
}