<div *ngIf="post && postAuthor">
  <!-- Si on veut modifier le post -->
<!-- Afficher le contenu du post à modifier. Réutiliser le 'create-post' component -->
<div class="m-2 fs-6" *ngIf="updateActivated">
  <app-create-post [toUpdate]="post._id+''"></app-create-post>
</div>

<!-- Si on veut juste afficher le contenu, mais pas modifier le post -->
<div class="pItem shadow rounded text-start p-2 my-4" *ngIf="!updateActivated">
  <!-- Afficher la photo de profil, le prénom et le nom ici -->
  <div class="row">
    <div class="profile text-secondary col-8 row">
      <div class="col-4">
        <img class="my-2 rounded-circle" [src]="profile" />
        <span class="my-2 fs-6">
          {{ postAuthor.first_name }} {{ postAuthor.last_name }}
        </span>
      </div>
      <div class="col-6 mt-3 text-center">
        <div class="">{{ post.createdAt | date: "hh:mm:ss a -- dd-MM-yyyy" }}</div>
        <div *ngIf="post.createdAt != post.updatedAt">
          ( modifié )
        </div>
      </div>

      <div class="col mt-3">
        <span class="">({{ post.statut }})</span>
      </div>
    </div>
    <div class="col text-end" *ngIf="deleteUpdateButtonPresent">
      <input
        type="button"
        value="Modifier"
        class="btn p-1 deleteUpdateButtonFormat"
        (click)="onUpdate()"
      />
      <input
        type="button"
        value="Supprimer"
        class="btn p-1 deleteUpdateButtonFormat"
        (click)="onDelete()"
      />
    </div>
  </div>

  <!-- Afficher le contenu du post ici -->
  <div class="m-2 fs-6">
    {{ post.message }}
  </div>

  <!--Afficher les images ici-->
  <ngb-carousel *ngIf="images" class="text-center">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="picsum-img-wrapper">
        <img [src]="image" alt="Random first slide" />
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>
  </ngb-carousel>

  <!--reactions-->
  <hr class="bg-" />
  <div class="row text-center my-2">
    <div class="col">
      <img
        src="../../../assets/images/heart-svgrepo-com.svg"
        width="50px"
        alt=""
        srcset=""
      />
      Liker
    </div>
    <div class="col">
      <img
        src="../../../assets/images/error-svgrepo-com.svg"
        width="50px"
        alt=""
        srcset=""
      />
      Signaler
    </div>
    <div class="col">
      <img
        src="../../../assets/images/comment-svgrepo-com.svg"
        width="50px"
        alt=""
        srcset=""
      />
      Commenter
    </div>
  </div>
</div>

</div>
