<nav class="navbar container">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="https://img1.freepng.fr/20180412/hoe/kisspng-allergen-gluten-food-wheat-allergy-wheat-5acfd0df42d438.0360024015235688632737.jpg"style="width: 70px; height:55px"  class="d-inline-block align-text-center">
          <span style="font-weight:bold; font-size:25px; margin-left:3px">02A</span>
      </a>
      <form class="d-flex" role="search" >
          <input class="form-control me-2 no-outline" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" id="searchButton">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Search_Noun_project_15028.svg/1046px-Search_Noun_project_15028.svg.png" style="width: 30px; color:#814069">
          </button>
      </form>
      <div class="bouttons">
          <button type="button" class="btn register" type="submit" routerLink="login" routerLinkActive="active">
              <b style="font-size:20px; color:black">Se connecter</b>  <img src="https://www.svgrepo.com/show/348836/user.svg" alt="connexion" style="width:25px; margin-left: 2px; margin-top: -3px; margin-right: 2px;">
          </button>
          <button type="button" class="btn register"  type="submit" routerLink="registration" routerLinkActive="active">
              <b style="font-size:20px; color:black">S'inscrire</b>  <img src="https://www.svgrepo.com/show/368193/user-add.svg" alt="inscription" style="width:30px; margin-left: 2px; margin-top: -3px;">
          </button>
      </div>
  </div>
</nav>
