<nav class="navbar container-fluid">
  <div class="row m-0 w-100">
    <div class="col-2">
      <a class="navbar-brand" href="#">
        <img
          src="https://img1.freepng.fr/20180412/hoe/kisspng-allergen-gluten-food-wheat-allergy-wheat-5acfd0df42d438.0360024015235688632737.jpg"
          style="width: 70px; height: 55px"
          class="align-text-center rounded-circle"
          alt="navimage"
        />
        <span class="w-50 fs-3" style="font-weight: bold; margin-left: 3px"
          >02A</span
        >
      </a>
    </div>

    <div class="col-6">
      <form class="d-flex w-100" role="search">
        <input
          class="form-control me-2 no-outline"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit" id="searchButton">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Search_Noun_project_15028.svg/1046px-Search_Noun_project_15028.svg.png"
            style="width: 30px; color: #814069"
            alt="navimage"
          />
        </button>
      </form>
    </div>

    <div class="bouttons col-4 m-0 row">
      <button
        type="button"
        class="btn register col w-50"
        type="submit"
        routerLink="login"
        routerLinkActive="active"
      >
        <strong style="color: black">Se connecter</strong>
        <img
          src="https://www.svgrepo.com/show/348836/user.svg"
          alt="connexion"
          style="
            width: 20px;
            margin-left: 2px;
            margin-top: -3px;
            margin-right: 2px;
          "
        />
      </button>
      <button
        type="button"
        class="btn register col w-50"
        type="submit"
        routerLink="registration"
        routerLinkActive="active"
      >
        <strong style="color: black">S'inscrire</strong>
        <img
          src="https://www.svgrepo.com/show/368193/user-add.svg"
          alt="inscription"
          style="width: 30px; margin-left: 2px; margin-top: -3px"
        />
      </button>
    </div>
  </div>
</nav>
