<div class="row" >
  <div class="col-sm-6">
    <div class="card">
        <img [src]="AllergieSaisonniere" class="card-img-top"/>
        <div class="card-body">
          <h1 class="card-title">Allergies Saisonnières</h1>
          <p class="card-text">Découvrez ce que nos spécialistes disent des allergies saisonnières...</p>
        </div>
        <ul class="list-group list-group-light list-group-small">
          <li class="list-group-item px-4"><a href="#" class="card-link">Le Pollen, source d'allergies..</a></li>
          <li class="list-group-item px-4"><a href="#" class="card-link">Asthme Allergique, c'est quoi?</a></li>
          <li class="list-group-item px-4"><a href="#" class="card-link">Printemps, saison allergique...</a></li>
          <li class="list-group-item px-4 last"><a href="#" class="card-link">Allergies, se protéger...</a></li>
        </ul>
    </div>
  </div>  
  <div class="col-sm-6">
    <div class="card">
        <img [src]="AllergieAlimentaire" class="card-img-top"/>
        <div class="card-body">
          <h1 class="card-title">Allergies Alimentaires</h1>
          <p class="card-text">Découvrez ce que nos spécialistes disent des allergies alimentaires...</p>
        </div>
        <ul class="list-group list-group-light list-group-small" >
          <li class="list-group-item px-4"><a class="card-link" routerLink="/article">Allergie ou Intolérance...?</a> </li>
          <li class="list-group-item px-4"><a href="#" class="card-link">Le lait, facteur allergique...</a></li>
          <li class="list-group-item px-4"><a href="#" class="card-link">Fruits de mer, attention..</a></li>
          <li class="list-group-item px-4 last"><a href="#" class="card-link">Vivre avec des allergies...</a></li>
        </ul>
    </div>
  </div>
</div>
  
<div class="row" >
  <div class="col-sm-6">
    <div class="card">
        <img [src]="AllergieInterieur" class="card-img-top"/>
        <div class="card-body">
          <h1 class="card-title">Allergies D'Intérieur</h1>
          <p class="card-text">Découvrez ce que nos spécialistes disent des allergies d'intérieur...</p>
        </div>
        <ul class="list-group list-group-light list-group-small">
          <li class="list-group-item px-4"><a href="#" class="card-link">Moisissure, facteur allergique..</a> </li>
          <li class="list-group-item px-4"><a href="#" class="card-link">Les acariens, allergénes courants..</a> </li>
          <li class="list-group-item px-4"><a href="#" class="card-link">La poussière, déclencheur d'al..</a> </li>
          <li class="list-group-item px-4 last"><a href="#" class="card-link">Prévenir les allergies...</a> </li>
        </ul>
    </div>
  </div>  
  <div class="col-sm-6">
    <div class="card">
        <img [src]="AllergieContact" class="card-img-top"/>
        <div class="card-body">
          <h1 class="card-title">Allergies De Contact</h1>
          <p class="card-text">Découvrez ce que nos spécialistes disent des allergies de contact...</p>
        </div>
        <ul class="list-group list-group-light list-group-small">
          <li class="list-group-item px-4"><a href="#" class="card-link">Allergie au soleil...?</a> </li>
          <li class="list-group-item px-4"><a href="#" class="card-link">Produits ménagers ou allergènes.. </a> </li>
          <li class="list-group-item px-4"><a href="#" class="card-link">Le cuir, source d'allergies..</a> </li>
          <li class="list-group-item px-4 last"><a href="#" class="card-link">L'Eczéma de contact,...</a> </li>
        </ul>
    </div>
  </div>
</div> 
