*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.container
 {
  width: 800px;
  height: 800px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 10px;

}
.myRightCtn
{
  position: relative;
  /*background-color:#814069;*/
  background-color: #b68ea7;
  border-radius: 25px;
  height: 100%;
  padding: 25px;
  color: rgb(192, 192, 192);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myLeftCtn
 {
  position: relative;
  /*background: #b68ea7;*/
  background: #e9c6dd;
  border-radius: 25px;
  height: 100%;
  padding: 25px;
  padding-left: 50px;
}
.myLeftCtn header
{
  color: #814069;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.row
{
height: 100%;
}

.myCard {
  position: relative;
  background:#b68ea7;
  height: 100%;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}
h3 {
  color: #814069;
  margin-bottom:30px;
  font-size: 40px;
  font-weight:60px;
}

.box {
  position: relative;
  margin: 20px;
  margin-bottom: 400px;
}

.myLeftCtn .myInput {
  width: 450px;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 30px;
  padding-left: 50px;
  border: none;
  -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}
.myLeftCtn .myInput:focus {
  outline: none;

}

.myForm {
  position: relative;
  margin-top: 50px;
}

.myLeftCtn .butt {
  background: #814069;
  color: #fff;
  width: 230px;
  border: none;
  border-radius: 25px;
  padding: 15px;
  -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}

.myLeftCtn .butt:hover {
  border: 2px solid#eecbff;
}
.myLeftCtn .butt:focus {
  outline: none;
}

.butt_out {
  /*background: #b68ea7;*/
  background: #814069;
  color: white;
  width: 120px;
  border: 2px solid #b68ea7;
  border-radius: 25px;
  padding: 15px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}
.butt_out:hover {
  border: 2px solid#eecbff;
}
.butt_out:focus {
  outline: none;
}
