<header>
  <h1>Allergies Alimentaires</h1>
</header>
<nav>
  <ul>
    <li><a href="#telecharger"><img [src]="download" width="80px"/></a></li>
    <li><a href="#traduire"><img [src]="translate" width="80px"/></a></li>
    <li><a href="#share"><img [src]="share" width="80px"/></a></li>
    <li><a href="#imprime"><img [src]="imprime" width="80px"/></a></li>
  </ul>
</nav>
<main>
  <section id="causes">
    <div class="image">
      <img [src]="article" width="855px" height="350px">
    </div>
  </section>
  <section id="types">
    <h1>Les différentes formes d'allergies alimentaires</h1>
    <p>
      « Mon enfant est allergique… », entend-on souvent. Mais s’agit-il vraiment d’allergie ? Dans certains cas, c’est plutôt d’intolérance dont il faudrait parler. La confusion entre les deux termes est fréquente. Voici quelques petites explications pour vous permettre de dissocier allergie alimentaire et intolérance alimentaire.
       L’allergie alimentaire découle d’une réaction du système immunitaire en entier alors que l’intolérance alimentaire affecte principalement le système digestif. Dans les deux cas, les symptômes peuvent se manifester de quelques instants à plusieurs heures après l’ingestion.
       Allergie alimentaire : Tout se passe au niveau du système immunitaire. Il s’agit des mécanismes de défense de l’organisme, les immunoglobulines présentes surtout dans le sang, qui réagissent aux éléments pathogènes extérieurs que sont les aliments déclencheurs d’allergies. C’est donc le système immunologique qui réagit. Les symptômes de la réaction peuvent varier en gravité, allant de l’urticaire ou aux picotements dans la bouche à de l’asthme ou à une réaction mettant la vie en danger (réaction anaphylactique).
       Exemple : Léa,une petite fille de 5ans, boit du lait en ignorant si elle est allergique ou intolerante.
    </p>
    <ul>
      <li> Si elle est intolérante au lactose, elle pourrait avoir les symptômes suivants :
        Diarrhées, vomissements, maux de ventre (ces symptômes dépendent habituellement de la quantité ingérée).</li>
      <li>Si elle est allergique aux protéines du lait, elle pourrait avoir les symptômes suivants :
        Diarrhées, vomissements, maux de ventre, accompagnés de problèmes respiratoires (nez qui coule, congestion nasale, respiration sifflante, toux) et de problèmes circulatoires (gonflement des tissus pouvant provoquer l’étouffement, baisse de tension artérielle).</li>
    </ul>
  </section>
  <section id="treatment">
    <h1>Les types d'intolérances alimentaires</h1>
    <p>Intolérance alimentaire : Ici, le système immunitaire n’est pas en cause, mais le système digestif. L’intolérance alimentaire implique le métabolisme, mais pas le système immunitaire. Le diagnostic des allergies demeure une démarche complexe. Même si l’intolérance est plus désagréable que dangereuse, il faut jouer la carte de la sécurité et proposer à l’enfant des aliments que l’on a préparés soi-même et porter une attention spéciale aux réactions qui peuvent survenir lorsqu’un aliment nouveau est introduit pour la première fois dans son alimentation.Les réactions sont d’ordre : </p>
      <ul>
        <li>Enzymatique : L’origine est un déficit enzymatique ou une déficience enzymatique qui entraîne l’incapacité de digérer (totalement) certains composants des aliments. Par exemple, une déficience en lactase entraîne une intolérance au lactose qui passe dans l’intestin sans avoir été digéré, puis stagne et fermente dans le colon, provoquant tout au long du système digestif des troubles intestinaux.</li>
        <li>Pharmacologique : Cette situation survient lorsque le système digestif ne tolère pas certaines substances comme l’histamine ou la tysorine. On retrouve ces substances, entres autres, dans ces aliments : fromages vieillis, poissons fumés et aliments fermentés, chocolat, blancs d’œufs, fraise, ananas, fruits exotiques, crustacés, poissons, tomate, alcool.</li>
        <li>Les réactions ne seront pas immunologiques, elles passent par le suc gastrique (qui stérilise le bol alimentaire), les enzymes pancréatiques (qui dissèquent les protéines) et le mucus intestinal (qui enrobe les éléments pathogènes alimentaires pour les éliminer).</li>
      </ul>
  </section>
    </main>





 
  
