<div *ngIf="user" class="text-start account rounded shadow m-2 p-2 row">
  <div class="col">
    <img [src]="profile" alt="" width="50px" height="50px" class="rounded-circle border border-dark mx-2">
    <span>{{user.first_name}} {{user.last_name}}</span>
  </div>

  <div class="col text-end">
    <span *ngIf="user.is_specialist">
      <input type="button" (click)="onRetireSpecialist(user)" value="Retirer Spécialiste" class="buttonFormat rounded m-2 p-2">
    </span>
    <span *ngIf="!user.is_specialist">
      <input type="button" (click)="onAddSpecialist(user)" value="Ajouter Spécialiste" class="buttonFormat rounded m-2 p-2">
    </span>
    <span *ngIf="user.is_locked">
      <input type="button" (click)="onBlockAccount(user)" value="Débloquer le compte" class="buttonFormat rounded m-2 p-2">
    </span>
    <span *ngIf="!user.is_locked">
      <input type="button" (click)="onBlockAccount(user)" value="Bloquer le compte" class="buttonFormat rounded m-2 p-2">
    </span>

  </div>


  <div class="ms-4 text-danger">
    >>> Nombre de posts signalés : {{nbPostsSignales}}
  </div>

</div>
