<mat-card>
  <h2>Connexion</h2>
  <div>
    <img [src]="registerIcon" alt="img_not_found" class="shadw" />
  </div>

  <form #login="ngForm" (ngSubmit)="submit(login)" class="w-75 m-auto my-3">
    <div
      class="text-danger my-3 border border-danger rounded"
      *ngIf="errorMessage"
    >
      {{ errorMessage }}
    </div>
    <div class="form-group text-center">
      <div class="my-2"></div>

      <input
        type="text"
        name="user_name"
        #user_name="ngModel"
        class="form-control"
        placeholder="Nom d'utilisateur"
        ngModel
        minlength="3"
        required
      />
      <div
        class="text-start text-danger p-1 mb-2"
        *ngIf="user_name.touched && user_name.errors?.['required']"
      >
        * Le champ nom d'utilisateur est obligatoire.
      </div>

      <div
        class="text-start text-danger p-1 mb-2"
        *ngIf="user_name.errors?.['minlength']"
      >
        * Le champ nom d'utilisateur doit contenir au minimum 3 caractères
      </div>


      <input
        [type]="showPassword ? 'text' : 'password'"
        name="password"
        #password="ngModel"
        class="form-control"
        placeholder="Mot de passe"
        ngModel
        minlength="6"
        required
      />
      <div
        class="text-start text-danger p-1 mb-2"
        *ngIf="password.touched && password.errors?.['required']"
      >
        * Le champ mot de passe est obligatoire.
      </div>

      <div
        class="text-start text-danger p-1 mb-2"
        *ngIf="password.errors?.['minlength']"
      >
        * Le champ mot de passe doit contenir au minimum 6 caractères
      </div>

      <div class="text-start position-relative">
        <mat-icon matSuffix (click)="togglePasswordVisibility()">
          {{ showPassword ? "visibility_off" : "visibility" }}
        </mat-icon>

        <span class="position-absolute bottom-25 m-1"
          >Visibilité du mot de passe</span
        >
      </div>

      <button type="submit" *ngIf="
          user_name.invalid ||
          password.invalid as invalid
        "
        [disabled]="invalid"
        class="bg-disabled">Se connecter</button>

        <button type="submit" *ngIf="!(
          user_name.invalid ||
          password.invalid)
        ">Se connecter</button>
    </div>
  </form>
</mat-card>
