<mat-card>
  <h2>Inscription</h2>
  <div>
    <img [src]="registerIcon" alt="img_not_found" class="shadw">
  </div>

  <form #register="ngForm" (ngSubmit)="submit(register)" class="w-75 m-auto my-3">
    <div class="form-group text-center">

      <div class="text-danger" *ngIf="notValid">Données saisies invalides, veuillez vérifier à nouveau.</div>

      <div class="row">
        <div class="col">
          <input
            type="text"
            name="first_name"
            class="form-control"
            placeholder="Prénom"
            ngModel
          >
        </div>
        <div class="col">
          <input
            type="text"
            name="last_name"
            class="form-control"
            placeholder="Nom"
            ngModel
          >
        </div>
      </div>

      <input
        type="email"
        name="email"
        class="form-control"
        placeholder="E-mail"
        ngModel
      >

      <input
        type="text"
        name="address"
        class="form-control"
        placeholder="Adresse"
        ngModel
      >


      <div class="my-2"></div>


      <input
        type="text"
        name="user_name"
        class="form-control"
        placeholder="Nom d'utilisateur"
        ngModel
      >


      <input
        [type]="showPassword ? 'text' : 'password'"
        name="password"
        class="form-control"
        placeholder="Mot de passe"
        ngModel
      >

      <input
        [type]="showPassword ? 'text' : 'password'"
        name="passwordConfirmation"
        class="form-control"
        placeholder="Confirmer mot de passe"
        ngModel

      >

      <div class="text-start position-relative">
        <mat-icon matSuffix (click)="togglePasswordVisibility()">
          {{showPassword?'visibility_off':'visibility'}}
        </mat-icon>

        <span class="position-absolute bottom-25 m-1">Visibilité du mot de passe</span>

      </div>


      <button type="submit">S'inscrire</button>

    </div>
  </form>

</mat-card>
