<nav class="navbar-light container">
  <div class="nav-left">
    <a class="navbar-brand" href="#">
      <img
        src="https://img1.freepng.fr/20180412/hoe/kisspng-allergen-gluten-food-wheat-allergy-wheat-5acfd0df42d438.0360024015235688632737.jpg"
        style="width: 70px; height: 55px; margin-left: -80px"
        class="d-inline-block align-text-left"
        alt=""
        navimage
      />
      <span style="font-weight: bold; font-size: 25px; margin-left: 3px"
        >02A</span
      >
    </a>
    <ul>
      <li>
        <img
          src="https://www.svgrepo.com/show/86907/bell.svg"
          alt="notifications"
          width="33"
        />
      </li>
      <li>
        <img
          src="https://www.svgrepo.com/show/13694/chat.svg"
          alt="historique"
          width="33"
        />
      </li>
      <li>
        <img
          src="https://www.svgrepo.com/show/129908/location.svg"
          alt="localisation"
          width="33"
        />
      </li>
    </ul>
  </div>

  <div class="nav-right">
    <div class="search-box">
      <input type="text" placeholder="Search" />
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Search_Noun_project_15028.svg/1046px-Search_Noun_project_15028.svg.png"
        style="width: 25px; color: #814069"
        alt="search icone"
      />
    </div>
    <div class="nav-user-icon online">
      <img
        [src]="profile"
        class="rounded-circle border border-dark m-2"
        width="60px"
        height="60px"
        alt="profile_pic"
      />
    </div>
  </div>
</nav>
