<div class="container py-5 px-4">
    <div class="row rounded-lg overflow-hidden shadow">
        <!-- Chat Box-->
        <div class="col-12 px-0">
            <div class="px-4 py-5 chat-box " style="background-color: #b68ea7">
                <!-- Sender Message-->
                <div class="left" style="background-color: red">
                    <div class="media w-50 mb-3" style="margin-left:60px">
                        <img src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg" alt="user" width="50" class="rounded-circle" style="display:flex; align-items:left; flex-direction:column; margin-bottom:-40px; margin-left: -60px;">
                        <div class="media-body ml-3">
                            <div class="rounded py-2 py-2 px-3 mb-2" style="background-color: #814069">
                                <p class="text-small mb-0">I am launching a new company</p>
                            </div>
                            <p class="small text-muted">12:02 PM | 22 Dec</p>
                        </div>
                    </div>
                </div>
                <!-- Reciever Message-->
                <div class="right" style="background-color: blue">
                    <div class="media w-50 mb-3 ml-auto" style="float:right">
                        <div class="media-body">
                            <div class="bg-light rounded py-2 px-3 mb-2">
                                <p class="text-small mb-0 text-black">I am elite gamer, so what</p>
                            </div>
                            <p class="small text-muted" >12:01 PM | 22 Dec</p>
                        </div>
                    </div>
                </div>
            <!-- Typing area -->
            <form action="#" class="bg-light">
                <div class="input-group">
                    <input type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
                    <div class="input-group-append">
                        <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
