/* You can add global styles to this file, and also import other style files */
html, body {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow: auto;
  height: 100%;
  background-color:rgb(240, 229, 229);
  margin:0;
}

app-root {
  display: block;
  height: 100%;
}

.active{
  background-color: #814069;
}

body { margin: 0; font-family: "poppins", sans-serif;}
